name: Release
on:
  push:
    tags:
      - 'v*'

jobs:
  build-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install build tools
        run: pip install build twine
      - name: Build sdist and wheel
        run: |
          python -m build
      - name: Upload Release Assets
        uses: softprops/action-gh-release@v1
        with:
          files: dist/*
      - name: Publish to TestPyPI
        if: github.event_name == 'push'
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.TESTPYPI_TOKEN }}
        run: |
          twine upload --repository testpypi dist/*
